@import url(index.css);
@keyframes apparitionMenus {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes apparitionCoche {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes deplacementPrix {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-81px);
  }
}
@keyframes reductionTexte {
  from {
    grid-column: 1/span 3;
  }
  to {
    grid-column: 1/span 2;
  }
}
.entrees {
  animation: apparitionMenus 3s ease-in-out 0s both;
}

.plats {
  animation: apparitionMenus 3s ease-in-out 1.5s both;
}

.desserts {
  animation: apparitionMenus 3s ease-in-out 3s both;
}

a {
  border-radius: 25px;
}

h2 {
  font-size: 18px;
  grid-column: 1/span 3;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

u {
  text-decoration-color: var(--turquoise);
  text-decoration-thickness: 3px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0 0 25px;
}
@media (max-width: 768px) {
  header {
    align-items: center;
  }
}
header .retourAccueil {
  width: auto;
}

.btn__commande {
  align-self: center;
  justify-content: center;
}

main > img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
@media (max-width: 768px) {
  main > img {
    height: 275px;
  }
}

.resto {
  display: flex;
  flex-direction: column;
  padding: 0 12%;
}
.resto__menu p {
  padding: 0;
}
@media (max-width: 768px) {
  .resto {
    padding: 0;
  }
}
.resto__menu__type {
  margin: 69px 0 0 0;
}
.resto__description {
  padding: 0 12%;
  margin: -40px 0 0 0;
  border-radius: 25px;
  background-color: var(--gris-pages);
  max-width: 1250px;
}
@media (max-width: 768px) {
  .resto__description {
    padding: 0 25px;
  }
}
.resto__titre {
  display: flex;
  align-items: center;
  font-family: "shrikhand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
  gap: 35px;
  position: relative;
}
.resto__titre__aimer {
  background-image: url("/images/icones/aimer.png");
  width: 22px;
  height: 21px;
  transition: all 2s;
  position: relative;
}
@media (max-width: 768px) {
  .resto__titre__aimer {
    background-image: url("/images/icones/aimer.png");
    width: 22px;
    height: 21px;
    transition: all 2s;
  }
}
.resto__titre__aimer:hover {
  opacity: 0;
}
.resto__titre__aimer__actif {
  background-image: url("/images/icones/aimer_actif.png");
  width: 23px;
  height: 21px;
  transition: all 2s;
  position: absolute;
  top: 0;
  opacity: 0;
}
@media (max-width: 768px) {
  .resto__titre__aimer__actif {
    background-image: url("/images/icones/aimer_actif.png");
    width: 23px;
    height: 21px;
    transition: all 2s;
  }
}
.resto__titre__aimer__actif:hover {
  opacity: 1;
}
.resto__titre__favori {
  position: relative;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .resto__titre {
    justify-content: space-between;
    gap: 0;
  }
}
.resto .btn__resto__menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 0 20px;
  box-shadow: 0px 4px 15px var(--ombres-boutons);
  overflow: hidden;
}
.resto .btn__resto__menu:hover > .resto__menu__coche {
  animation: apparitionCoche 600ms ease-in-out both;
}
.resto .btn__resto__menu:hover > .resto__menu__prix {
  animation: deplacementPrix 600ms ease-in-out both;
}
.resto .btn__resto__menu:hover > .resto__menu__ingredients {
  animation: reductionTexte 600ms ease-in-out both;
}
.resto .resto__menu__ingredients {
  grid-row: 2;
  grid-column: 1/span 3;
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto .resto__menu__prix {
  grid-row: 2;
  grid-column: 4;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.resto .resto__menu__coche {
  grid-row: 1/span 2;
  grid-column: 4;
  background-color: var(--vert);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  width: 81px;
  border-radius: 0 25px 25px 0;
  position: relative;
  left: 100%;
}
.resto .resto__menu__coche img {
  width: 50%;
  height: 50%;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

/*# sourceMappingURL=restaurants.css.map */
