@import url(index.css);
$duree: 3s;
$retardrang: 2s;
@keyframes apparitionMenus {
    0% {
        opacity: 0;
        transform: translateX(9999px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);        
    }
}

.entrees {
    animation: apparitionMenus $duree ease-out 0s both;
}

.plats {
    animation: apparitionMenus $duree ease-out $retardrang both;
}

.desserts {
    animation: apparitionMenus $duree ease-out ($retardrang * 2) both;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 33% 0 25px;
}

@media (max-width: 768px) {
    header {
        align-items: center;
        padding: 20px 0 15px 15px;
        gap: 60px;
    }
}

header img {
    width: 197px;
    height: 36px;
}

header .image__logo {
    width: auto;
}

@media (max-width: 767px) {
    a {
        border-radius: 25px;
    }

    h2 {
        font-weight: 500;
        font-size: 18px;
        grid-column: 1/4;
        padding: 0;
    }

    u {
        text-decoration-color: var(--turquoise);
        text-decoration-thickness: 3px;
    }

    .resto {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .resto .resto__description {
        padding: 0 15px;
        margin: -40px 0 0 0;
        border-radius: 25px;
        background-color: var(--gris-pages);
    }

    .resto .resto img {
        width: 100%;
    }

    .resto .resto__titre {
        display: flex;
        align-items: center;
        font-family: "shrikhand", sans-serif;
        font-size: 24px;
        font-weight: 400;
        justify-content: space-between;
        padding: 0 20px 0 0;
    }

    .resto .btn__resto__menu {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 15px;
        height: 39px;
        box-shadow: 0px 4px 15px var(--ombres-boutons);
    }

    .resto .resto__menu__ingredients {
        grid-row: 2;
        grid-column: 1/4;
        margin: 0;
        font-weight: 300;
        font-size: 15px;
    }

    .resto .resto__menu__prix {
        grid-row: 2;
        grid-column: 4;
        padding: 0;
        margin: 0;
    }

    .resto .resto__menu__coche {
        grid-row: 1;
        grid-column: 4;
    }

    footer p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
