@import "variables";
@import "mixins";
@import "animations";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: $gris-pages;

    a, &:hover, &:active, &:visited {
        color: black;
    }

    h1 {
        font-family: 'shrikhand', sans-serif;
        margin: 0;
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
    }

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 28px;
    }

    h3 {
        font-weight: 700;
        font-size: 24px;
        padding: 0 0 0 25px;
        margin: 16px 0 5px 0;
    }

    .blanc {
        background-color: white;
    }

    .loader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $couleur__chargeur;
        opacity: 0;
        animation: chargement #{calc($duree__anim__chargeur * 2)} ease-in-out both;

        @media (min-width: 769px) {
            animation: chargement $duree__anim__chargeur ease-in-out both;
        }

        .scanner {
            position: relative;
            height: 15px;
            width: #{$largeurScan} + "%";
            background-color: $couleur__chargeur;
        }

        .scan {
            display: inline-block;
            background: -moz-linear-gradient(0deg, #F00, #FAA, #F00);
            background: linear-gradient(0deg, #F00, #FAA, #F00);
            width: #{calc($largeurOeil / 2)} + "%";
            height: 15px;
            position: relative;
            animation: balayage $duree__anim__oeil linear alternate-reverse;
            animation-iteration-count: calc($duree__anim__chargeur / $duree__anim__oeil);
        }

        .texte {
            position: relative;
            font-size: 18px;
            font-weight: 700;
            color: darkgreen;

            @media (min-width: 769px) {
                font-size: 24px;
            }
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        font-weight: 500;

        h1 {
            font-size: 30px;
        }

        .fond__localisation {
            display: flex;
            align-items: center;
            height: 50px;
            width: 100%;
            justify-content: center;
            background: #EAEAEA;
            gap: 17px;

            img {
                width: 12px;
                height: 16px;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 0;

        @media (min-width: 769px) {
            gap: 30px;
        }

        .desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 39px 26px 57px 34px;

            @media (min-width: 769px) {
                padding: 30px 0 0 0;
            }

            a {
                margin-bottom: 0;
            }

            h2 {
                padding: 0;

                @media (min-width: 769px) {
                    font-size: 40px;
                }
            }

            p {
                font-weight: 300;
                color: #353535;
                font-size: 18px;
            }
        }

        section {
            padding: 0;

            @media (min-width: 769px) {
                padding: 15px 20px 25px 20px;
            }
        }

        .fonctionnement {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 48px 20px 68px 20px;

            a {
                margin: 24px 0 0 0;
            }

            @media (min-width: 769px) {
                flex-direction: row;
            }

            &__blocs {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: $largeur-max;
                gap: 26px;
            }

            &__items {
                display: flex;
                flex-direction: column;
                gap: 25px;
                justify-content: space-between;
                max-width: $largeur-max;
                align-self: center;
                width: 100%;
                margin: 0 20px 0 12.5px;

                @media (min-width: 769px) {
                    flex-direction: row;
                    gap: 32px;
                }
            }

            &__btn {
                height: $hauteur__boutons__plats;
                width: -moz-available;
                width: -webkit-available;

                p {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 23px;
                    border-radius: 20px;
                    height: 72px;
                    width: 100%;
                    padding: 0 0 0 34px;
                    background-color: $gris;
                    box-shadow: $ombres;
                    z-index: 1;
                    margin: 0 0 0 -10px;
                }

                & > img {
                    width: 24px;
                    height: 24px;
                    z-index: 2;
                }
            }
        }

        .btn__commande {
            color: white;
            background: linear-gradient($violet-clair, $violet);
            border-radius: 25px;
            width: 218px;
            height: 50px;
            justify-content: center;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

            &:hover {
                background: linear-gradient($nouv__violet__clair, $nouv__violet);
                box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
            }
        }

        .carte {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            width: 100%;
            height: 241px;

            @media (min-width: 769px) {
                width: 45%;
            }
            //  Gestion de l'animation du coeur "favori"
            &__def__favori {
                position: absolute;
                bottom: 10px;
                right: 25px;
            }

            &__aimer {
                @include coeur__favori("../images/icones/aimer.png", 22, 0);

                &:hover {
                    opacity: 0;
                }
            }

            &__aimer__actif {
                @include coeur__favori("../images/icones/aimer_actif.png", 23, 22);
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }
            //

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                flex-direction: column;
                border-radius: 20px;
                margin: 0;
                overflow: hidden;
            }

            p {
                margin: 0 0 15px 25px;
                font-size: 17px;
                font-weight: 300;
            }

            .carte__image {
                width: 100%;
                border-radius: 20px 20px 0 0;
                height: 179px;
                object-fit: cover;
                margin-top: -25px;
            }

            .carte__nouvelle {
                width: 80px;
                height: 29px;
                background: $turquoise;
                color: $vert;
                border-radius: 2px;
                position: absolute;
                text-align: center;
                padding: 10px 10px 0 10px;
                top: 12px;
                right: 13px;

                @media (min-width: 769px) {
                    top: 13px;
                    right: 16px;
                }
            }

            .carte__texte {
                display: flex;
                flex-direction: column;
                width: 100%;
                font-weight: 300;
                font-size: 17px;
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin: 25px 0;
        }

        .restos {
            display: flex;
            justify-content: center;
            padding: 54px 20px 66px 20px;

            @media (min-width: 769px) {
                //  A verifier
                padding: 54px 20px 66px 20px;
            }

            &__blocs {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: $largeur-max;
                gap: 28px;
            }

            .restos__cartes {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 18px;

                @media (min-width: 769px) {
                    flex-direction: row;
                    gap: 50px 100px;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: #353535;
        color: white;
        padding: 25px 22px;
        align-items: flex-start;
        gap: 16px;

        @media (min-width: 769px) {
            flex-direction: row-reverse;
            align-items: center;
            padding: 20px;
        }

        h1 {
            font-size: 18px;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        a, &:active, &:hover, &:visited {
            color: white;
            text-decoration: none;
            margin: 0;
        }

        .footer__infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin: 0;
            gap: 7px;

            @media (min-width: 769px) {
                flex-direction: row;
                gap: 20px;
            }

            .icone__infos {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;

                img {
                    width: 14px;
                    height: 14px;
                }

                .icone__infos p {
                    margin: 0;
                }
            }
        }
    }
}
