@use "sass:color";

/* ********** Styles globaux ********** */
:root {
    /* Couleurs du site*/
    --gris: #F3F3F3;
    --gris-pages: #F6F6F6;
    --turquoise: #99E2D0;
    --vert: #008766;
    --azur: #89C8FA;
    --bleu-marine: #003A68;
    --violet: #9356DC;
    --violet-clair: #FF79DA;
    --ombres-boutons: rgba(0, 0, 0, 0.15);
    --gris-pied-de-page: #353535;
}

$degrade: linear-gradient(#AAA 0%, #AAA 4%, #EAEAEA 4%, #EAEAEA 100%);

/* Determination des couleurs eclaircies des boutons au survol */
$nouv__violet__clair: color.scale(#FF79DA, $lightness : 15%);
$nouv__violet: color.scale(#9356DC, $lightness : 15%);


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin coeur__favori ($image, $largeur, $gauche) {
    background-image: url($image);
    width: $largeur + px;
    height: 21px;
    position: absolute;
    margin-left: $gauche + px;
    margin-top: 200px;
    transition: all 2s;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #F6F6F6;
}

a, a:hover, a:active {
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 15px 0 0 0;

    img {
        width: 197px;
        height: 36px;
    }

    .fond__localisation {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: #EAEAEA;
        gap: 15px;

        @media (max-width: 768px) {
            background: $degrade;
        }

        img {
            width: 1rem;
        }
    }
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section {
    padding: 15px 1.25rem 25px 1.25rem;
}

.blanc {
    background-color: white;
}

.fonctionnement {
    display: flex;
    gap: 15px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 7px;

        a {
            margin: 0 0 25px 0;
        }
    }
}

.btn__commande {
    color: white;
    background: linear-gradient(var(--violet-clair), var(--violet));
    border-radius: 25px;
    padding: 15px;
    width: 186px;
    justify-content: center;


    &:hover {
        background: linear-gradient($nouv__violet__clair, $nouv__violet);
    }
}

.fonctionnement__btn {
    height: 72px;

    p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        border-radius: 20px;
        height: 72px;
        width: 100%;
        padding: 0 30px;
        background-color: var(--gris);
        box-shadow: 0px 4px 15px var(--ombres-boutons);
        z-index: 1;
        margin-left: -10px;
    }

    & > img {
        width: 24px;
        height: 24px;
        z-index: 2;
    }
}

.carte {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 45%;

    @media (max-width: 768px) {
        border-radius: 20px;
        height: 251px;
        width: 100%;
    }

    .carte__aimer {
        @include coeur__favori("/images/icones/aimer.png", 22, 368);

        @media (max-width: 768px) {
            @include coeur__favori("/images/icones/aimer.png", 22, 330);
        }

        &:hover {
            opacity: 0;
        }
    }

    .carte__aimer__actif {
        @include coeur__favori("/images/icones/aimer_actif.png", 23, 368);
        opacity: 0;

        @media (max-width: 768px) {
            @include coeur__favori("/images/icones/aimer_actif.png", 22, 330);
        }

        &:hover {
            opacity: 1;
        }
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        flex-direction: column;
        border-radius: 20px;
        margin: 0;
    }

    p {
        margin: 3px 10px 10px 10px;
        font-size: 17px;
        font-weight: 300;
    }

    .carte__image {
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 179px;
    }

    .carte__texte {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        font-weight: 300;
        font-size: 17px;
    }
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 25px 0;
}

h2 {
    margin: 0;
    padding: 10px 10px 0 10px;
    font-weight: 700;
    font-size: 18px;
}

.icone__infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    img {
        width: 14px;
        height: 14px;
    }

    .icone__infos p {
        margin: 0;
    }
}

.restos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;

    .restos__cartes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}

footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: #353535;
    color: white;
    padding: 20px;
    align-items: center;
    gap: 35px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 35px;
    }

    h1 {
        font-family: 'shrikhand', sans-serif;
        margin: 25px 0 0 0;
        font-size: 18px;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.footer__infos {
    display: flex;
    justify-content: flex-end;
    margin: 25px 0 0 0;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
    }
}
