@import "variables";
@import "mixins";
@import "index";

body {
    background-color: white;

    .entrees {
        animation: apparitionMenus $duree ease-in-out 0s both;
    }

    .plats {
        animation: apparitionMenus $duree ease-in-out $retardrang both;
    }

    .desserts {
        animation: apparitionMenus $duree ease-in-out ($retardrang * 2) both;
    }

    a {
        border-radius: 15px;
    }

    h2 {
        font-size: 18px;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    u {
        text-decoration-color: $turquoise;
        text-decoration-thickness: 3px;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 89px 13px 17px;
        height: 36px;
        gap: 42px;

        @media (min-width: 769px) {
            gap: 621px;
            padding: 30px 621px 31px 17px;
        }

        .logo {
            //  Espace supplementaire de cadrage du titre
            padding-left: 16px;
        }

        .placement {
            display: flex;
            justify-content: center;
            width: 197px;
            height: 36px;
            padding: 0 19px 0 16px;
            flex-shrink: 0;
        }

        .retourAccueil {
            height: 20px;
            padding: 0 7px 0 6px;
        }
    }

    main {
        @media (min-width: 769px) {
            overflow: hidden;
        }

        .hr__turquoise {
            background: $turquoise;
            border: none;
            width: 40px;
            height: 3px;
            margin: 0;
        }

        .btn__commande {
            align-self: center;
            justify-content: center;
            margin: 0;
        }

        & > img {
            width: 100%;
            height: 275px;
            object-fit: cover;

            @media (min-width: 769px) {
                height: 460px;
                margin-top: -82px;
            }
        }

        .resto {
            display: flex;
            flex-direction: column;
            padding: 0;

            @media (min-width: 769px) {
                padding: 0 13%;
            }

            &__description {
                display: flex;
                flex-direction: column;
                gap: 40px 0;
                padding: 32px 13px 40px 13px;
                margin: -55px 0 0 0;
                border-radius: 25px 25px 0 0;
                background-color: $gris-pages;


                @media (min-width: 769px) {
                    padding: 51px 12% 40px 12%;
                }
            }

            &__titre {
                display: flex;
                align-items: center;
                font-family: "shrikhand", serif;
                font-size: 24px;
                font-weight: 400;
                justify-content: space-between;
                padding: 0 4px;
                position: relative;

                @media (min-width: 769px) {
                    justify-content: center;
                    gap: 24px;
                }

                &__aimer {
                    @include resto__favori("/images/icones/aimer.png", 22);
                    position: relative;

                    &:hover {
                        opacity: 0;
                    }
                }

                &__aimer__actif {
                    @include resto__favori("/images/icones/aimer_actif.png", 23);
                    position: absolute;
                    top: 0;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }

                &__favori {
                    position: relative;
                }
            }

            &__menu {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }

            &__menu__detail {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            &__menu__type {
                margin: 0;
            }

            .btn__resto__menu {
                display: flex;
                justify-content: space-between;               
                box-shadow: $ombres;
                overflow: hidden;
                margin: 0;
                gap: 5px;
                width: 100%;


                &:hover > .resto__menu__coche {
                    margin-right: 0;
                }
            }

            .resto__menu__element {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: 300;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                gap: 2px;
                padding: 15px;
            }

            .resto__menu__ingredients  {
                margin: 0;
            }
            
            .resto__menu__prix {
                font-weight: 700;
                margin: 0;
            }

            .resto__menu__coche {
                background-color: $turquoise;
                transition-duration: 500ms;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 72px;
                width: $largeurcoche;
                border-radius: 0 15px 15px 0;
                margin-right: -#{$largeurcoche};
            }

            .fa-circle-check {
                color: white;
                font-size: 20px;
            }
        }
    }

    footer p {
        margin-top: 0;
        margin-bottom: 0;
    }
}